MONGO_URI=mongodb://admin:StrongPassword-123@localhost:27017/hotel?authSource=admin
JWT_SECRET=PASTE_JWT_SECRET_HERE
PORT=5000
MODEL_DIR=./models
EMAIL_USER=PASTE_EMAIL_USER_HERE
EMAIL_PASS=PASTE_EMAIL_PASSWORD_HERE
STRIPE_SECRET_KEY=PASTE_STRIPE_SECRET_KEY_HERE
STRIPE_WEBHOOK_SECRET=PASTE_WEBHOOK_SECRET_HERE
FRONTEND_URL=http://localhost:5000

ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin@123